.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: $green;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: calc(10px + 2vmin);
    color: white;
    flex-direction: row;
    justify-content: space-between

}

.App-link {
    color: red;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.Header {


    &__Icon {
        &-Restart {
            font-size: 30px;
            cursor: pointer;
        }
    }
}

@include media-breakpoint-down(md) {
    .container {
        padding: 0
    }
    .modal-content {
        height: 100vh;
    }
}

.modal-footer{
    justify-content: center;
}

.close {
    font-size: 2rem;
}
