body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

// Override default variables before the import
$h5-font-size: 0.85rem;

.pointer{
  cursor:pointer;
}

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';

// Import Modules & Components
@import './App.scss';
@import './components/quiz/card/sCard';
@import './components/results/resultCard/resultCard';
@import './components/results/carousel/sCarousel';
@import "./components/results/photoCamera/photoCamera";
@import "./components/results/photoCamera/picturePanel/picturePanel";
