.CircularProgressbar{
    &__Wrapper {
        max-width: 2.5rem;
        margin: 0 auto;
    }
}
.ResultCard {
    &__Image{
        max-height: 50vh;
    }
    &__Match{
        color:green;
    }
    &__NoMatch {
        color:red;
    }
}

@include media-breakpoint-down(md) {
    .modal-dialog {
        margin: 0;
    }
}

.modal-body {
    overflow: auto;
}
